{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include 'header.html'%}

        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>О нас</h2>
                            </div>
                            <ul>
                                <a href = "{%url 'index'%}">
                                    <li class="home-bread" >Главная страница</li></a>
                                <li>О нас</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- Start How to area -->
        <div class="how-to-area bg-color area-padding">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Как Начать</h3>
                            <p>Помогите агентствам определить свои новые бизнес-цели, а затем создайте профессиональное программное обеспечение.</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="all-how">
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-how first-item">
                                <div class="how-img">
                                    <span class="h-number">01</span>
                                    <a class="big-icon" href="#"><img src="{% static 'img/about/h1.png'%}" alt=""></a>
                                </div>
                                <div class="how-wel">
                                    <div class="how-content">
                                        <h4>{{about.name_about_1}}</h4>
                                        <p>{{about.name_desc_1}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-how ">
                                <div class="how-img">
                                    <span class="h-number">02</span>
                                    <a class="big-icon" href="#"><img src="{% static 'img/about/h2.png'%}" alt=""></a>
                                </div>
                                <div class="how-wel">
                                    <div class="how-content">
                                        <h4>{{about.name_about_2}}</h4>
                                        <p>{{about.name_desc_2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-how thired-item">
                                <div class="how-img">
                                   <span class="h-number">03</span>
                                    <a class="big-icon" href="#"><img src="{% static 'img/about/h3.png'%}" alt=""></a>
                                </div>
                                <div class="how-wel">
                                    <div class="how-content">
                                        <h4>{{about.name_about_3}}</h4>
                                        <p>{{about.name_desc_3}}</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End How to area -->
        <!-- Start About Area -->
        <div class="about-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-content">
                            <div class="about-images">
                                <img src="{% static 'img/about/ab.jpg'%}" alt="">
                                <span class="more-text">Если вам нужно узнать больше о {{setting.name}} <a href="about.html">Нажмите здесь</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="support-all">
                            <!-- Start services -->
                            <div class="support-services">
                                <img class="support-images" src="{%static 'img/about/ab-icon.png'%}" alt="">
                                <div class="support-content">
                                    <h4>{{achievement.game}}</h4>
                                    <p>{{achievement.desc_game}}</p>
                                </div>
                            </div>
                            <!-- Start services -->
                            <div class="support-services">
                                <img class="support-images" src="{%static 'img/about/ab-icon2.png'%}" alt="">
                                <div class="support-content">
                                    <h4>{{achievement.bonuse}}</h4>
                                    <p>{{achievement.desc_bonus}}</p>
                                </div>
                            </div>
                            <!-- Start services -->
                            <div class="support-services last-content">
                                <img class="support-images" src="{%static 'img/about/ab-icon6.png'%}" alt="">
                                <div class="support-content">
                                    <h4>{{achievement.help}}</h4>
                                    <p>{{achievement.desc_help}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                    </div>
                 </div>
            </div>
        </div>
        <!-- End About Area -->
        <!-- Start Affiliate Area -->
        {% comment %} <div class="work-proses fix bg-color area-padding-2">
			<div class="container">
			    <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Referral bonus level</h3>
                            <p>Help agencies to define their new business objectives and then create professional software.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="work-proses-inner text-center">
							    <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-proses">
                                        <div class="proses-content">
                                            <div class="proses-icon point-blue">
                                                <span class="point-view">01</span>
                                                <a href="#"><i class="ti-briefcase"></i></a>
                                            </div>
                                            <div class="proses-text">
                                                <h4>Level 01 instant 10% commission</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End column -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-proses">
                                        <div class="proses-content">
                                            <div class="proses-icon point-orange">
                                               <span class="point-view">02</span>
                                                <a href="#"><i class="ti-layers"></i></a>
                                            </div>
                                            <div class="proses-text">
                                                <h4>Level 02 instant 20% commission</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End column -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-proses last-item">
                                        <div class="proses-content">
                                            <div class="proses-icon point-green">
                                               <span class="point-view">03</span>
                                                <a href="#"><i class="ti-bar-chart-alt"></i></a>
                                            </div>
                                            <div class="proses-text">
                                                <h4>Level 03 instant 30% commission</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End column -->
							</div>
						</div>
                    </div>
				</div>
			</div>
		</div>
        <!-- End Affiliate Area -->
        <!-- Start Overview Area -->
        <div class="overview-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="overview-content">
                            <div class="overview-images">
                                <img src="{% static 'img/about/ab.jpg'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="overview-text">
                            <h3>Playing games winning instant cash and Bonus </h3>
						    <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                            <ul>
                               <li><a href="#">Innovation idea latest business tecnology</a></li>
                                <li><a href="#">Digital content marketing online clients plateform</a></li>
                                <li><a href="#">Safe secure services for you online email account</a></li>
                            </ul>
                            <a class="overview-btn" href="#">Signup today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Overview Area -->
        <!-- Start Footer Area -->
        {% include 'footer.html'%}
        <!-- End Footer Area -->
		
		<!-- all js here -->

{%endblock%}