{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include 'header.html'%}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>Новости </h2>
                            </div>
                            <ul>
                                <a href = "{%url 'index'%}">
                                    <li class="home-bread" >Главная страница</li></a>
                                <li>Новости </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- Start Blog Area-->
        <div class="blog-area fix bg-color area-padding-2">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Новости Игрового Мира</h3>
							<p>Читай последние новости про твою любимую игру.</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="blog-grid home-blog">
                        {%for new in new%}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog">
                               <div class="blog-image">
									<a class="image-scale" href="{% url 'news_detail' new.id%}">
										<img src="{{new.image_news.url}}" alt="">
									</a>
								</div>
                                <div class="blog-content">
                                   <div class="blog-meta">
                                        
                                        <span class="date-type">
                                            <i class="fa fa-calendar"></i>
                                            {{new.created_news}}
                                        </span>
                                        
                                    </div>
                                    <a href="{% url 'news_detail' new.id%}">
                                        <h4>{{new.name_news}}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        <!-- End single blog -->
                    </div>
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Blog Area-->
        <!-- Start Footer Area -->
        {% include 'footer.html'%}

        <!-- End Footer Area -->
{%endblock%}