{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include 'header.html'%}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>НАША КОМАНДА</h2>
                            </div>
                            <ul>
                                <a href = "{%url 'index'%}">
                                <li class="home-bread" >Главная страница</li></a>
                                <li>НАША КОМАНДА</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
         <!--Blog Area Start-->
        <div class="blog-area fix bg-color-2 area-padding">
            <div class="container">
                <div class="row">
                    <div class="blog-details">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<!-- single-blog start -->
							<article class="blog-post-wrapper">
								<div class="blog-banner">
									<a href="#" class="blog-images">
										<img src="{{new.image_news.url}}" alt="">
									</a>
									<div class="blog-content">
										<div class="blog-meta">
                                            
                                            <span class="date-type">
                                               <i class="fa fa-calendar"></i>
                                                {{new.created_news}}
                                            </span>
                                            
                                        </div>
										<h4>{{new.name_news}}</h4>
										<blockquote>
											<p>{{new.description_news}}</p>
										</blockquote>							
									</div>
								</div>
							</article>
							<div class="clear"></div>
							<div class="related-post">
                                <div class="comments-heading">
                                    <h3>Вам могут понравиться</h3>
                                </div>
                                <div class="related-post-list">
                                    <!-- start single post -->
                                    {% for new in random_new%}

                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="{{new.image_news.url}}" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#">{{new.name_news}}</a></p>
                                            <span class="date-type">
                                                {{new.created_news}}
                                            </span>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    <!-- End single post -->
                                    <!-- start single post -->
                                    
                                    <!-- End single post -->
                                </div>
                            </div>
							<div class="clear"></div>
							<div class="single-post-comments">
								
								<div class="comment-respond">
									<h3 class="comment-reply-title">Оставьте Ответ </h3>
									
									<div class="row">
										<div class="comments-area">
								    
											<div class="comments-list">
		
												<ul>
													<li>
														{% for comment in new.post_comment.all %}

														<div class="comments-details">
															{% if comment.user.profile_image %}

															<div class="comments-list-img">
																<img src="{{ comment.user.profile_image.url }}" width = "80px" alt="post-author">


															</div>
															{% else %}
															<div class="comments-list-img">

																<img src="{%static 'img/blog/avater2.png'%}" alt="post-author">

															</div>
															{% endif %}

															<div class="comments-content-wrap">
																<span>
																	<b><a href="#">{{ comment.user }}</a></b>
																	<span class="post-time">{{ comment.created }}</span>
																</span>
																<p>{{ comment.text }}</p>
															</div>
														</div>
														{% endfor %}								

													</li>
												</ul>
		
		
											</div>
		
										</div>
											{% if user.is_authenticated %}
											<form method = "POST">
												{%csrf_token%}

												<div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">

													<div class="col-md-12 col-sm-12 col-xs-12">
														<input type="hidden" name = "comment">

														<textarea name="text" id="message-box" rows="6" placeholder="Сообщение" class="form-control" required data-error="Write your message"></textarea>
														<div class="help-block with-errors"></div>
													</div>
													<div class="col-md-12 col-sm-12 col-xs-12">
														<button type="submit"  class="contact-btn">Отправить</button>
														
													</div> 
												</form>
												
											</div>
											{% endif %}					

									</div>

								</div>	
							</div>
							<!-- single-blog end -->
						</div>
                        <!-- Start Right Sidebar blog -->
						{% comment %} <div class="col-md-4 col-sm-4 col-xs-12">
							<div class="left-head-blog right-side">
								<div class="left-blog-page">
									<!-- search option start -->
									<form action="#">
										<div class="blog-search-option">
											<input type="text" placeholder="Search...">
											<button class="button" type="submit">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</form>
									<!-- search option end -->
								</div>
								<div class="left-blog-page">
									<div class="left-blog blog-category">
										<h4>categories</h4>
										<ul>
											<li><span>12</span><a href="#">Business</a></li>
											<li><span>17</span><a href="#">Agency </a></li>
											<li><span>07</span><a href="#">Media</a></li>
											<li><span>18</span><a href="#">Social</a></li>
											<li><span>14</span><a href="#">Photoshop</a></li>
											<li><span>10</span><a href="#">development</a></li>
											<li><span>15</span><a href="#">Design</a></li>
										</ul>
									</div>
								</div>
								<div class="left-blog-page">
									<!-- recent start -->
									<div class="left-blog">
										<h4>recent post</h4>
										<div class="recent-post">
											<!-- start single post -->
											<div class="recent-single-post">
												<div class="post-img">
													<a href="#">
														<img src="{%static 'img/blog/b1.jpg'%}" alt="">
													</a>
												</div>
												<div class="pst-content">
													<p><a href="#">We offer games online services for gaimming.</a></p>
													<span class="date-type">
														26 Jan / 2019
													</span>
												</div>
											</div>
											<!-- End single post -->
											<!-- start single post -->
											<div class="recent-single-post">
												<div class="post-img">
													<a href="#">
														<img src="{%static 'img/blog/b2.jpg'%}" alt="">
													</a>
												</div>
												<div class="pst-content">
													<p><a href="#">playdo is an live games and casino board.</a></p>
													<span class="date-type">
														20 June / 2019
													</span>
												</div>
											</div>
											<!-- End single post -->
											<!-- start single post -->
											<div class="recent-single-post">
												<div class="post-img">
													<a href="#">
														<img src="{%static 'img/blog/b3.jpg'%}" alt="">
													</a>
												</div>
												<div class="pst-content">
													<p><a href="#">Online games zone always think positive economy.</a></p>
													<span class="date-type">
														26 Feb / 2019
													</span>
												</div>
											</div>
											<!-- End single post -->
											<!-- start single post -->
											<div class="recent-single-post">
												<div class="post-img">
													<a href="#">
														<img src="{%static 'img/blog/b4.jpg'%}" alt="">
													</a>
												</div>
												<div class="pst-content">
													<p><a href="#">Lottery can change life any human life</a></p>
													<span class="date-type">
														13 Nov / 2019
													</span>

												</div>
											</div>
											<!-- End single post -->
										</div>
									</div>
									<!-- recent end -->
								</div>
								<div class="left-blog-page">
									<div class="left-tags blog-tags">
										<div class="popular-tag left-side-tags left-blog">
											<h4>popular tags</h4>
											<ul>
												<li><a href="#">Business</a></li>
                                                <li><a href="#">Agency </a></li>
                                                <li><a href="#">Media</a></li>
                                                <li><a href="#">Social</a></li>
                                                <li><a href="#">Photoshop</a></li>
                                                <li><a href="#">Seo</a></li>
                                                <li><a href="#">development</a></li>
                                                <li><a href="#">Search</a></li>
                                                <li><a href="#">Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div> {% endcomment %}
                    </div>
                    <!-- End Right Sidebar -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!--End of Blog Area-->
        <!-- Start Footer Area -->
        {% include 'footer.html'%}

        <!-- End Footer Area -->
		
		<!-- all js here -->

{%endblock%}