{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include 'header.html'%}

        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>Наши контакты</h2>
                            </div>
                            <ul>
                                <a href = "{%url 'index'%}">
                                    <li class="home-bread" >Главная страница</li></a>
                                <li>Наши контакты</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <div class="contact-area bg-color-2 area-padding">
            <div class="container">
               <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Наши контакты</h3>
							<p>Если у вас есть вопросы можете обратится нам.</p>
						</div>
					</div>
				</div>
               <div class="row">
                    <div class="contact-inner">
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="ti-email"></i>
                                    <p>
                                        Почта : {{contact.email}}<br>
                                        <span>Тел.номер: {{contact.phone}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="ti-link"></i>
                                    <a href = "{{contact.facebook}}">
                                        <li >Facebook</li></a>

                                    <a href = "{{contact.instagram}}">
                                        <li >Instagram</li></a>
                                    
                                    <a href = "{{contact.youtube}}">
                                        <li >Youtube</li></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="ti-map"></i>
                                    <p>
                                        Адрес: {{contact.address}}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="contact-inner">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- Start Map -->
                            <div class="contact-images">
                                <img src="img/about/ab.jpg" alt="">
                            </div>
                            <!-- End Map -->
                        </div>
                        <!-- End contact icon -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="contact-form">
                                <div class="row">
                                    <form class="contactForm" method="POST"  class="contact-form">
                                        {%csrf_token%}
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="name" class="form-control" placeholder="Имя" required data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" class="email form-control" name="email" placeholder="Почта" required data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" name="subject" class="form-control" placeholder="Вопрос" required data-error="Please enter your message subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <textarea name="message" rows="6" placeholder="Сообщение" class="form-control" required data-error="Write your message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" name="submit" class="contact-btn">Отправить</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                            <div class="clearfix"></div>
                                        </div>   
                                    </form>  
                                </div>
                            </div>
                        </div>
                        <!-- End contact Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact area -->
        <!-- Start Footer Area -->
        {% include 'footer.html'%}
{% endblock %}