{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include 'header.html'%}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>Наши  Игры</h2>
                            </div>
                            <ul>
                                <a href = "{%url 'index'%}">
                                    <li class="home-bread" >Главная страница</li></a>
                                <li>Наши  Игры</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- Start Games Area -->
        <div class="games-area games-area-2  bg-color area-padding-2">
            <div class="container">
              <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Онлайн Игры</h3>
							<p>{{setting.desc}}</p>
						</div>
					</div>
				</div>
               <div class="row">
					<div class="all-games">
                        <!-- single-games end-->
                        {% for game in game%}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-games">
                                <h4>{{game.name_game}}</h4> 
                                <div class="games-img">
                                    <img src="{{game.image_game.url}}" alt="">
                                </div>
                                <a class="games-btn" href="{%url 'game_detail' game.id%}">играть сейчас</a>
                            </div>
                        </div>
                        {%endfor%}
                        
					</div>
                </div>
            </div>
        </div>
        <!-- Games area End -->
        <!-- Start games Area 
        <div class="games-play-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Games play</h3>
							<p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts</p>
						</div>
					</div>
				</div>
                <div class="row">
					<!-- End single page 
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-menu">
							 <!-- Nav tabs -
							<ul class="nav nav-tabs" role="tablist">
								<li class="active">
								    <a href="#p-view-1" role="tab" data-toggle="tab">
							            <img class="cha-img" src="img/games/c1.jpg" alt="games image">
								        <span class="title-date">
								        	<span class="cha-title">Fierce Rem </span>
								            <span class="cha-bit">BT- 0.0234</span>
								        </span>
								    </a>
								</li>
								<li>
								    <a href="#p-view-2" role="tab" data-toggle="tab">
							            <img class="cha-img" src="img/games/c2.jpg" alt="games image">
								        <span class="title-date">
								        	<span class="cha-title">Snacks Run</span>
								            <span class="cha-bit">BT- 0.0234</span>
								        </span>
								    </a>
								</li>
								<li>
							        <a href="#p-view-3" role="tab" data-toggle="tab">
							            <img class="cha-img" src="img/games/c3.jpg" alt="games image">
								        <span class="title-date">
								        	<span class="cha-title">Pirates of sea</span>
								            <span class="cha-bit">BT- 0.0234</span>
								        </span>
								    </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-content">
							<div class="tab-pane active" id="p-view-1">
								<div class="tab-inner">
                                    <div class="Gaimer-zone row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="gaimer-inner">
                                                <div class="gaimer-list">
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m1.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Andrew jonson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m3.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Stepen Hopper</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m4.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Anderson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m5.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Janiy capri</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m6.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Lagisha</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer last-content">
                                                        <img class="gaimer" src="img/icon/m7.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Ragner lorth</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="single-page">
                                                <div class="page-img">
                                                    <img src="img/games/b1.jpg" alt="">
                                                    <a class="play-btn" href="#">Play Now</a>
                                                </div>
                                            </div>
								        </div>
								    </div>
								</div>
				            </div>
							<div class="tab-pane" id="p-view-2">
								<div class="tab-inner">
									<div class="Gaimer-zone row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="gaimer-inner">
                                                <div class="gaimer-list">
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m7.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Ragner lorth</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m6.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Lagisha</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m4.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Anderson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m5.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Janiy capri</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m3.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Stepen Hopper</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer last-content">
                                                        <img class="gaimer" src="img/icon/m1.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Andrew jonson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="single-page">
                                                <div class="page-img">
                                                    <img src="img/games/b2.jpg" alt="">
                                                    <a class="play-btn" href="#">Play Now</a>
                                                </div>
                                            </div>
								        </div>
								    </div>
								</div>
							</div>
							<div class="tab-pane" id="p-view-3">
								<div class="tab-inner">
									<div class="Gaimer-zone row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="gaimer-inner">
                                                <div class="gaimer-list">
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m1.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Andrew jonson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m3.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Stepen Hopper</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m4.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Anderson</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m5.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Janiy capri</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer">
                                                        <img class="gaimer" src="img/icon/m6.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Lagisha</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                    <div class="single-gaimer last-content">
                                                        <img class="gaimer" src="img/icon/m7.png" alt="">
                                                        <div class="gaimer-content">
                                                            <h6>Ragner lorth</h6>
                                                            <span class="bit-mony">BT- 0.0234</span>
                                                        </div>
                                                    </div>
                                                    <!-- single-gaimer--
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="single-page">
                                                <div class="page-img">
                                                    <img src="img/games/b3.jpg" alt="">
                                                    <a class="play-btn" href="#">Play Now</a>
                                                </div>
                                            </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<!-- end column --
				</div>
				<!-- end Row --
            </div>
        </div>
        End games end -->
        <!-- Start Chips area -->
        {% comment %} <div class="chips-area bg-color-2 area-padding-2">
            <div class="container">
                 <div class="row">
                    <div class="chips-content">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips1.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">100 Coins</span>
                                    <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips2.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">200 Coins</span>
                                    <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips2.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">300 Coins</span>
                                   <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips3.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">300 Coins</span>
                                    <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips1.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">500 Coins</span>
                                    <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- fun_text  -->
                            <div class="single-chips">
                                <span class="chips-price">0.21C</span>
                                <div class="chips-image">
                                    <img src="img/about/chips1.png" alt="">
                                </div>
                                <div class="chips-text">
                                    <span class="chips-number">400 Coins</span>
                                    <a class="chips-btn" href="#">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Achivement area -->
        <!-- Start Footer Area -->
        {%include 'footer.html'%}
        <!-- End Footer Area -->
{% endblock%}