{%extends 'homepage.html'%}
{%load static%}
{%block content%}
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		

        <!-- Start Slider Area -->
        <div class="login-area area-padding fix">
            <div class="login-overlay"></div>
            <div class="table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                                <div class="login-form">
                                    <h4 class="login-title text-center">АВТОРИЗОВАТЬСЯ</h4>
                                    <div class="row">
                                        <form class="contactForm" method="POST" class="log-form">
                                            {%csrf_token%}
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" name="username" class="form-control" placeholder="Имя пользователя" required data-error="Please enter your name">
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input type="password" name="password" class="form-control" placeholder="Пароль" required data-error="Please enter your message subject">
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="check-group flexbox">
                                                    <label class="check-box">
                                                        <input type="checkbox" class="check-box-input" checked>
                                                        <span class="remember-text">Запомните меня</span>
                                                    </label>

                                                    <a class="text-muted" href="#">забыл пароль?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <button type="submit" id="submit" class="slide-btn login-btn">АВТОРИЗОВАТЬСЯ</button>
                                                <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="clear"></div>
                                                <div class="separetor text-center"><span>Или войти</span></div>
                                                <div class="sign-icon">
                                                    <ul>
                                                        <li><a class="facebook" href="#">Facebook</a></li>
                                                        <li><a class="twitter" href="#">twitter</a></li>
                                                        <li><a class="google" href="#">google+</a></li>
                                                    </ul>
                                                    <div class="acc-not">Нет учетной записи<a href="{% url 'register'%}">Зарегистрироваться</a></div>
                                                </div> 
                                            </div> 
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                </div>
        </div>
        <!-- End Slider Area -->
		
		<!-- all js here -->
{%endblock%}
