{%extends 'homepage.html'%}
{%load static%}
{%block content%}

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h2>Ошибка</h2>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <div class="page-head bg-color-2 area-padding">
			<div class="container">
				<div class="row">
				    <div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="row">
		                    <div class="error-page">
								<!-- map area -->
								<div class="col-md-12 col-sm-12 col-xs-12">
								    <div class="error-main-text text-center">
								        <h2 class="error-easy-text">Ошибка регистрации</h2>
								    	<h1 class="high-text">5<span class="color">0</span>3</h1>
								    	<h4 class="error-bot">Извините ваши пороли не совподают, попробуйте заного.</h4>
								    	<a  class="error-btn" href="{% url 'register'%}">Пройти регистрацию</a>
								    </div>
								</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
        <!-- Start Footer Area -->
        
        <!-- End Footer Area -->
		
		<!-- all js here -->
{% endblock%}